/*body  {
}

.projects article  {
}


h1, 
h2, 
h3, 
h4, 
h5,
p,
ul,
li {
	color: #fff;
}

a:link {
	color: #02AEF0;
}

a:visited {
	color: #02AEF0;
}

a:hover {
	color: #02AEF0;
}

a:active {
	color: #02AEF0;
}

p.callout {
	background: #CA2549;
	color: #fff;
}*/